<h3>Cart !</h3>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in $ctrl.items">
			<td>
				<a ng-href="/products/{{item.productId}}" ng-bind="item.productId | idtext"></a>
			</td>
			<td ng-bind="item.name"></td>
			<td ng-bind="item.price | price"></td>
			<td ng-bind="item.quantity" class="text-right"></td>
			<td ng-bind="item.total | price" class="text-right"></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th class="text-right">Total:</th>
			<th ng-bind="$ctrl.total | price"></th>
		</tr>
	</tfoot>
</table>
<div class="text-right">
	<button type="button" ng-click="$ctrl.clearAll()">Clear All</button>
</div>