<h3>{{$ctrl.product.name}} - {{$ctrl.product.price | price}}</h3>
<span ng-bind="$ctrl.product.description"></span>
<h4>Quantity: {{$ctrl.product.quantity}}</h4>
<div class="text-right">
	<button type="button" ng-click="$ctrl.backToProducts()">Back to Products</button>
	<button type="button" ng-click="$ctrl.addToCart()">Add to Cart</button>
</div>
