<h3>All Products !</h3>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in $ctrl.products">
			<td>
				<a ng-href="/products/{{product.id}}" ng-bind="product.id | idtext"></a>
			</td>
			<td ng-bind="product.name"></td>
			<td ng-bind="product.price | price"></td>
			<td ng-bind="product.quantity" class="text-right"></td>
		</tr>
	</tbody>
</table>
